/HelloWorld/HelloWorld/bin
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld.Android/bin
/HelloWorld/HelloWorld.Android/obj
bin
/HelloWorld/HelloWorld.iOS/bin
/HelloWorld/HelloWorld.iOS/obj
/HelloWorld/HelloWorld.UWP/bin
/HelloWorld/HelloWorld.UWP/obj
/*.gitignore
/documents/*.zip
*.zip
*.pdf
obj
/CSharpWithPython/.vs/CSharpWithPython/v15/*.suo
/Complete-Python-3-Bootcamp-master/.spyproject/config/backups/*.bak
/PythonWeb/djangoweather/weather/lookup/__pycache__
/PythonWeb/djangoweather/weather/weather/__pycache__
/PythonWeb/venvs
__pycache__
